.footer {
  background: #0a0a0a;
  color: #fff;
  padding: 100px 20px 50px;
  text-align: center;
  font-family: "Inter", sans-serif;
}

.footer-wrapper {
  max-width: 700px;
  margin: 0 auto;
}

.footer-top {
  font-size: 14px;
  color: #888;
  margin-bottom: 10px;
  letter-spacing: 1px;
}

.footer-main {
  font-size: 42px;
  font-weight: 600;
  line-height: 1.3;
  margin-bottom: 30px;
}

.footer-main span {
  color: orangered; /* accent only */
}

.footer-btn {
  display: inline-block;
  margin-bottom: 30px;
  padding: 12px 26px;
  border: 1px solid #333;
  border-radius: 50px;
  text-decoration: none;
  color:black;
  transition: 0.3s ease;
}

.footer-btn:hover {
  border-color: orangered;
  color: orangered;
  transform: translateY(-2px);
}

.footer-links {
  margin-bottom: 20px;
}

.footer-links a {
  color: #aaa;
  text-decoration: none;
  font-size: 14px;
  transition: 0.3s;
}

.footer-links a:hover {
  color: orangered;
}

.footer-copy {
  font-size: 12px;
  color: #666;
}